<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ "calendario.buscar_calendario" | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-grid2">
      <div class="form-col1">
        <mat-form-field style="width: 100%">
          <mat-select
            [formControl]="selectedLevel"
            placeholder="{{ 'calendario.para' | translate }}"
            (selectionChange)="onSelectLevel()"
          >
            <mat-option *ngFor="let nivel of niveles" [value]="nivel.Id">{{
              nivel.Nombre
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-col1">
        <mat-form-field style="width: 100%">
          <mat-select
            [formControl]="selectedProject"
            placeholder="{{ 'oferta.proyecto' | translate }}"
            (selectionChange)="onSelectProject()"
          >
            <mat-option *ngFor="let project of projects" [value]="project.Id">{{
              project.Nombre
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="showCalendar" class="margin-y">
      <mat-card>
        <detalle-calendario
          [calendarForProject]="calendarioId"
          [projectId]="projectId"
        ></detalle-calendario>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
