.mat-mdc-card {
  width: 80vw;
  position: relative;
}


.boton-primary {
  border: solid 1px #03678f;
  border-radius: 5px;
  font-weight: 300;
  background-color: #03678f;
  border-color: #03678f;
  margin: 0px;
  cursor: pointer;
  color: white !important;
  padding: 8px;
}

  th{
    color: black;
  }

  .icon:hover{
    color:#03678f
  }
  
  .search-container {
    display: flex;
    justify-content: flex-end;
}


.search-input {
  width: 200px;
  padding: 10px 40px 10px 15px;
  border-radius: 1.5px;
  border: 1px solid #ccc;
  font-size: 12pt;
  outline: none;
  border-color: #0093cd;
  margin-bottom: 15px;
}


.search-input:focus {
  border-color: #03678f;
}

.icon-search {
  border: solid 1.5px #03678f;
  color: white;
  font-size: 25px;
  border-radius: 1px;
  padding: 6px;
  padding-bottom: 8px;
  padding-right: 10px;
  background-color: #03678f;
}




