<mat-card style="height: 100%;">
  <mat-card-header>
    <mat-card-title>
      {{ "calendario.proceso" | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="display: flex; flex-direction: column;justify-content: center; height: 100%;">
    <form
      style="display: flex; flex-direction: column;justify-content: center;"
      novalidate
      [formGroup]="processForm"
      #fform="ngForm"
      (ngSubmit)="saveProcess()"
      class="form-horizontal"
    >
      <mat-form-field floatLabel="always" style="width: 100%">
        <input
          matInput
          type="text"
          formControlName="Nombre"
          placeholder="*{{ 'calendario.nombre' | translate }} "
          required
        />
        <mat-error
          *ngIf="
            processForm.get('Nombre')?.hasError('required') &&
            processForm.get('Nombre')?.touched
          "
        >
          {{ "calendario.error_nombre_proceso" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always" style="width: 100%">
        <input
          matInput
          type="text"
          formControlName="Descripcion"
          placeholder="*{{ 'GLOBAL.descripcion' | translate }} "
        />
        <mat-error
          *ngIf="
            processForm.get('Descripcion')?.hasError('required') &&
            processForm.get('Descripcion')?.touched
          "
        >
          {{ "calendario.error_desc_proceso" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%" floatLabel="always">
        <mat-label>*{{ "calendario.periodicidad" | translate }} </mat-label>
        <mat-select
          placeholder="Semestral/Anual"
          formControlName="TipoRecurrenciaId"
          required
        >
          <mat-option *ngFor="let period of periodicidad" [value]="period.Id">
            {{ period.Nombre }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            processForm.get('TipoRecurrenciaId')?.hasError('required') &&
            processForm.get('TipoRecurrenciaId')?.touched
          "
        >
          {{ "calendario.error_period_proceso" | translate }}
        </mat-error>
      </mat-form-field>
      <button
        style="width: 100%;"
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="processForm.invalid"
      >
        {{ "GLOBAL.guardar" | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
