<mat-card style="height: 100%;">
  <mat-card-header>
    <mat-card-title>
      {{ "calendario.proceso" | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="display: flex; flex-direction: column;justify-content: center; height: 100%;">
    <form
      style="display: flex; flex-direction: column;justify-content: center;"
      novalidate
      [formGroup]="processForm"
      #fform="ngForm"
      (ngSubmit)="saveProcess()"
      class="form-horizontal"
    >
      <mat-form-field floatLabel="always" style="width: 100%">
        <mat-label>*{{ "calendario.proceso" | translate }}</mat-label>
        <mat-select formControlName="ProcesoCatalogoId" required>
          <mat-option *ngFor="let proceso of procesosCatalogo" [value]="proceso.Id">
            {{ proceso.Nombre }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            processForm.get('ProcesoCatalogoId')?.hasError('required') &&
            processForm.get('ProcesoCatalogoId')?.touched
          "
        >
          {{ "calendario.error_nombre_proceso" | translate }}
        </mat-error>
      </mat-form-field>
      <p><strong>{{ "GLOBAL.descripcion" | translate }}:</strong> {{ getSelectedProcesoCatalogo()?.Descripcion || '-' }}</p>
      <mat-form-field style="width: 100%" floatLabel="always">
        <mat-label>*{{ "calendario.periodicidad" | translate }} </mat-label>
        <mat-select
          placeholder="Semestral/Anual"
          formControlName="TipoRecurrenciaId"
          required
        >
          <mat-option *ngFor="let period of periodicidad" [value]="period.Id">
            {{ period.Nombre }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            processForm.get('TipoRecurrenciaId')?.hasError('required') &&
            processForm.get('TipoRecurrenciaId')?.touched
          "
        >
          {{ "calendario.error_period_proceso" | translate }}
        </mat-error>
      </mat-form-field>
      <button
        style="width: 100%;"
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="processForm.invalid"
      >
        {{ "GLOBAL.guardar" | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
