@use '@angular/material' as mat;

// material customize
$primary: (
    50: var(--primary),
    100: var(--primary),
    200: var(--primary),
    300: var(--primary),
    400: var(--primary),
    500: var(--primary),
    600: var(--primary),
    700: var(--primary),
    800: var(--primary),
    900: var(--primary),
    A100: var(--primary),
    A200: var(--primary),
    A400: var(--primary),
    A700: var(--primary),
    contrast: (50: white,
        100: #03678f,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    ),
);
$my-primary: mat.define-palette($primary, 100);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-typography: mat.define-typography-config(
    $font-family: 'sans-serif',
);

$my-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
    ),
    typography: $my-typography,    
));


button{
    background: transparent;
  }
@include mat.all-component-themes($my-theme);