<ng-container *ngIf="select_proyectos_act">
  <mat-card style="margin: 1em">
    <mat-card-header>
      <mat-card-title>
        {{ "calendario.select_proyectos_actividades" | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate [formGroup]="SelectorDeps">
        <p class="alert info">
          {{ "calendario.seleccion_proyectos_info" | translate }}
        </p>
        <br />
        <mat-form-field style="width: 100%">
          <mat-label
            >{{ "calendario.seleccione_proyecto" | translate }}
          </mat-label>
          <mat-select formControlName="Dependencias" multiple>
            <mat-option *ngFor="let project of projects" [value]="project.Id"
              >{{ project.Nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-flat-button
          color="accent"
          style="width: 100%"
          (click)="guardar()"
        >
          {{ "GLOBAL.guardar" | translate }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="actividad_detalle_proyectos">
  <mat-card style="margin: 1em">
    <mat-card-header>
      <mat-card-title>
        {{ "calendario.actividad" | translate }}: {{ actividad }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h5>{{ "calendario.descripcion_actividad" | translate }}</h5>
      <p>{{ descripcion_actividad }}</p>
      <br />
      <div class="table">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="ProyectoCurricular">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width: 40%"
            >
              {{ "calendario.proyecto_curricular" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.ProyectoCurricular }}</td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="FechaInicio">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width: 20%"
            >
              {{ "calendario.fecha_inicio" | translate }}
            </th>

            <td mat-cell *matCellDef="let row">{{ row.FechaInicio }}</td>
          </ng-container>

          <ng-container matColumnDef="FechaFin">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width: 20%"
            >
              {{ "calendario.fecha_fin" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.FechaFin }}</td>
          </ng-container>

          <ng-container matColumnDef="FechaEdicion">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width: 20%"
            >
              {{ "calendario.fecha_edicion" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.FechaEdicion }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              "{{ "calendario.sin_proyectos_actividades" | translate }}"
            </td>
          </tr>
        </table>
      </div>
      <br />
      <button mat-flat-button color="primary" (click)="regresar()">
        {{ "GLOBAL.regresar" | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="proceso_detalle">
  <mat-card style="margin: 1em">
    <mat-card-header>
      <mat-card-title>
        {{ "calendario.proceso" | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <mat-form-field style="width: 100%">
        <mat-label> {{ "calendario.nombre" | translate }} </mat-label>
        <input
          matInput
          type="text"
          placeholder="{{ 'calendario.proceso' | translate }}"
          value="{{ nombre_proceso }}"
          readonly
        />
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>
          {{ "calendario.descripcion" | translate }}
        </mat-label>
        <input
          matInput
          type="text"
          placeholder="{{ 'calendario.descripcion_proceso' | translate }}"
          value="{{ descripcion_proceso }}"
          readonly
        />
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>
          {{ "calendario.periodicidad_2" | translate }}
        </mat-label>
        <input
          matInput
          type="text"
          placeholder="{{ 'calendario.periodicidad_2' | translate }}"
          value="{{ periodicidad_proceso }}"
          readonly
        />
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="regresar()">
        {{ "GLOBAL.regresar" | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="editar_actividad">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>{{
        "calendario.edicion_actividades" | translate
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate [formGroup]="ActivityEditor">
        <mat-divider></mat-divider>
        <div class="row" style="margin-top: 10px">
          <div class="col-6">
            <mat-form-field style="width: 100%">
              <mat-label> {{ "calendario.proceso" | translate }} </mat-label>
              <input
                matInput
                type="text"
                placeholder="{{ 'calendario.proceso' | translate }}"
                [value]="nombre_proceso"
                readonly
              />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%">
              <mat-label> {{ "calendario.periodo" | translate }} </mat-label>
              <input
                matInput
                type="text"
                placeholder="{{ 'calendario.periodo' | translate }}"
                [value]="periodo"
                readonly
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field style="width: 100%">
              <mat-label> {{ "calendario.actividad" | translate }} </mat-label>
              <input
                matInput
                type="text"
                placeholder="{{ 'calendario.actividad' | translate }}"
                [value]="actividad"
                readonly
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field style="width: 100%">
              <mat-label>
                {{ "calendario.descripcion" | translate }}
              </mat-label>
              <input
                matInput
                type="text"
                placeholder="{{ 'calendario.descripcion' | translate }}"
                [value]="descripcion_actividad"
                readonly
              />
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row" style="margin-top: 10px">
          <div class="col-6">
            <mat-form-field style="width: 100%">
              <mat-label
                >{{ "calendario.fecha_inicio" | translate }}:</mat-label
              >
              <input
                matInput
                [matDatepicker]="f_ini"
                formControlName="fecha_inicio_org"
                readonly
                [disabled]="true"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="f_ini"
              ></mat-datepicker-toggle>
              <mat-datepicker #f_ini></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field style="width: 100%">
              <mat-label>{{ "calendario.fecha_fin" | translate }}:</mat-label>
              <input
                matInput
                [matDatepicker]="f_fin"
                formControlName="fecha_fin_org"
                readonly
                [disabled]="true"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="f_fin"
              ></mat-datepicker-toggle>
              <mat-datepicker #f_fin></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="ActividadEditable">
          <div class="alert warning">
            {{ "calendario.modificacion_fechas_info" | translate }}
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field style="width: 100%">
                <mat-label
                  >{{ "calendario.fecha_inicio" | translate }}:</mat-label
                >
                <input
                  matInput
                  [matDatepicker]="f_ini_n"
                  [min]="ActivityEditor.get('fecha_inicio_org')?.value"
                  [max]="ActivityEditor.get('fecha_fin_org')?.value"
                  formControlName="fecha_inicio_new"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="f_ini_n"
                ></mat-datepicker-toggle>
                <mat-datepicker #f_ini_n></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field style="width: 100%">
                <mat-label>{{ "calendario.fecha_fin" | translate }}:</mat-label>
                <input
                  matInput
                  [matDatepicker]="f_fin_n"
                  [min]="ActivityEditor.get('fecha_inicio_new')?.value"
                  [max]="ActivityEditor.get('fecha_fin_org')?.value"
                  formControlName="fecha_fin_new"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="f_fin_n"
                ></mat-datepicker-toggle>
                <mat-datepicker #f_fin_n></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row" style="margin-top: 10px">
          <div class="col-12">
            <mat-card-title>{{
              "calendario.dirigido" | translate
            }}</mat-card-title>
            <!-- Aquí puedes agregar el componente mat-table para mostrar la tabla -->
            <div class="table">
              <table mat-table [dataSource]="dataSource2" matSort>
                <ng-container matColumnDef="responsableID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "GLOBAL.id" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.responsableID }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "calendario.nombre" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.Nombre }}
                  </td>
                </ng-container>
            
                
            
                <tr mat-header-row *matHeaderRowDef="responsableDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: responsableDisplayedColumns"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div align="center" style="margin-top: 10px">
          <div *ngIf="ActividadEditable">
            <button
              class="float-center"
              mat-raised-button
              color="primary"
              (click)="guardar()"
              [disabled]="ActivityEditor.invalid"
            >
              {{ "GLOBAL.guardar" | translate }}
            </button>
          </div>
          <div *ngIf="!ActividadEditable">
            <button
              class="float-center"
              mat-raised-button
              color="accent"
              (click)="regresar()"
            >
              {{ "GLOBAL.regresar" | translate }}
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-container>
